* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family:'Calibri', sans-serif
}

/*--Generales--*/
/***************/
body{
    margin: 20px;
}
.imgAnchoTotal {
    width: 100%;
}
.secMigaPan {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.secMigaPan p {
    font-size: small;
}
.rrss {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}
.rrss__iconoSmall {
    font-size: small;
}
.rrss__iconoMedium {
    font-size: medium;
}
.rrss__iconoNoLink {
    margin-right: 3px;
    margin-left: 10px;
    color:#5a68e1;
}
.rrss__iconoLink {
    margin-right: 10px;
    margin-left: 10px;
}
.rrssPie {
    justify-content: flex-start;
    margin-top: 20px;
}
.icono {
    margin-right: 5px;
}
.icono--caracteristica {
    color: #5a68e1;
    font-weight: bold;
    font-size: x-large;
}
.icono--producto {
    font-weight: bold;
    font-size: x-large;
    margin-left: 5px;
    padding: 5px;
    border: #737272 solid 1px;
}
.icono--contacto {
    margin-right: 5px;
    font-size: large;
    color:#5a68e1;
}
.btnEnviar {
    background-color: coral;
    color:#353434;
    font-weight: normal;
}
.btnEnviar:hover {
    color:#ffffff;
    background-color: #5a68e1;
}

/*--BEGIN Tarjetas--*/
/********************/
.trjs {
    display: flex;
    gap: 40px;
}
.trjs--categorias {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.trj {
    background-color: #ffffff;
    height: 400px;
    width: 50%;
    padding: 40px;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: end;
}
.trj--baseCama {
    background-image: url("../imagenes/febrian-zakaria-ZP72QJ-Raq8-unsplash v1.1.jpg");
    justify-content: start;
    align-items: start;
    border-radius: 5px;
}
.trj--veladores {
    background-image: url("../imagenes/christopher-jolly-GqbU78bdJFM-unsplash.jpg");
    justify-content: start;
    align-items: start;
    border-radius: 5px;
}
.trj--banquetas {
    background-image: url("../imagenes/spacejoy-XM-miHibz64-unsplash.jpg");
    justify-content: start;
    align-items: start;
    border-radius: 5px;
}
.trj__titulo {
    color: #a6a3a3;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}
.trjs--caracteristicas {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.trjCaracteristica {
    width: 200px;
    background-color: #5a67e1aa;
    margin: 10px;
    padding: 7px;
    border-radius: 7px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
.trjCaracteristica__titulo {
    color: #ffffff; 
}
.trjs--productos {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.trjProducto {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.trjProducto--borde{
    border: solid 1px #555353;
}
.trjProducto__titulo {
    color: #555353;
}
.trjProducto__icono {
    color: #555353;
}
.trjs--equipo {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.trjEquipo {
    /* width: 300px; */
    margin: 10px;
    padding: 7px;
    border-radius: 7px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    border: 1px solid #555353;
}
/*--END Tarjetas--*/
/******************/

/*--BEGIN Cabecera--*/
/********************/
.cabGrid {
    background-color: #ffffff;

    display: grid;
    grid-template-areas:
    "logo contacto contacto"
    "logo menu     buscar";    
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: 1fr 1fr;
    justify-items: stretch;
    align-items:center;
    row-gap: 5px;
    column-gap: 5px;
}
.cabMarco {
    border-bottom: 1px solid #737272;
    margin-bottom: 10px;
}
.logo {
    grid-area: logo;
}
.logo img {
    width: 60%;
    padding: 1%;
    justify-self: start;
}
.contacto {
    grid-area: contacto;
}
.rrss a,
.buscar__buscar a,
.buscar__input a,
.pieLista li a,
.trjProducto__icono a,
.prdIconos a,
.trj a {
    text-decoration:none;
    color:coral;
}
.rrss a:hover,
.buscar__buscar a:hover,
.buscar__input a:hover,
.pieLista li a:hover,
.trjProducto__icono a:hover,
.prdIconos a:hover,
.trj a:hover {
    color:#5a68e1;
}
.menu {
    grid-area: menu;
}
.menu__opciones {
    list-style-type: none;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.menu__opciones__opcion {
    padding:5px 10px;
    text-align:center;
    font-weight:bold;
    color:coral;
}
.menu__opciones__opcion a {
    text-decoration:none;
    color:inherit;
    font-size:18px;
}
.menu__opciones__opcion a:hover{
    background-color:#fff;
    color:#5a68e1;
}
.buscar {
    grid-area: buscar;
}
.buscar__icono {
    font-size: large;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    border: #737272 solid 1px;
}
.buscar__iconoUltimos {
    align-self: flex-start;
}
.buscar__input{
    margin-bottom: 10px;
    margin-top: 10px;
    /* padding: 10px; */
}
.buscar__buscar{
    margin-bottom: 10px;
    margin-top: 10px;
}
.buscar__buscarImagenes {
    background-color: #ffffff;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.buscar__buscarImagenes img {
    width: 40%;
    padding: 5%;
    margin: auto; 
}
/*--END Cabecera--*/
/******************/

/*--BEGIN Pie--*/
/***************/
.pieMarco {
    border-top: 1px solid #737272;
    margin-top: 100px;
}
.pieGrid {
    background-color: #ffffff;

    display: grid;
    grid-template-areas:
    "pieImagen pieEmpresa pieTienda pieCuenta pieProductos"
    "pieTexto  pieEmpresa pieTienda pieCuenta pieProductos";    
    grid-template-columns: 3fr 2fr 2fr 2fr 2fr;
    justify-content: start;
    align-items:start;
    row-gap: 5px;
    column-gap: 5px;
}
.pieImagen {
    grid-area: pieImagen;
    justify-self: start;
}
.pieImagen img {
    width: 30%;
    padding: 1%;
    justify-self: start;
}
.pieTexto {
    grid-area: pieTexto;
}
.pieTexto p {
    padding-right: 5px;
}
.pieEmpresa {
    grid-area: pieEmpresa;
}
.pieTienda {
    grid-area: pieTienda;
}
.pieCuenta {
    grid-area: pieCuenta;
}
.pieProductos {
    grid-area: pieProductos;
}
.pieLista {
    list-style-type: none;
    padding: 0px;
}
.pieLista li a {
    text-decoration: none;
}
.pieIconoNoLink {
    margin-right: 10px;
    color:#5a68e1;
}
/*--END Pie--*/
/*************/

/*--BEGIN Cuerpo index--*/
/************************/
.mainIndexGrid {
    background-color: #ffffff;
}
.secImagenGrande {
    background-image: url("../imagenes/iwood-R5v8Xtc0ecg-unsplash v1.1.jpg");
    background-size: cover;
    height: 90vh; 
    width: 100%;
 
    display: flex;
    justify-content: center;
    align-items: center; 
}
/* .secImagenGrande {
    text-align: center;
}
.secImagenGrande img {
    width: 100vh; 
} */
.secImagenGrande h2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}
/* .secImagenGrande h2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
} */
.secCategorias {
    margin-top: 100px;
}
.secCaracteristicas {
    margin-top: 100px;
}
.secProductos {
    margin-top: 100px;
}
/*--END Cuerpo index--*/
/**********************/

/*--BEGIN Cuerpo nosotros--*/
/***************************/
.nosotrosGrid {
    background-color: #ffffff;

    display: grid;
    grid-template-areas:
    "secNosotrosImg secNosotrosTxt";  
    grid-template-columns: 1fr 1fr ;
    justify-content: center;
    align-items:center;
    column-gap: 50px;
}
.secNosotrosImg {
    grid-area: secNosotrosImg;
}
.secNosotrosTxt {
    grid-area: secNosotrosTxt;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
}
.secNosotrosTxt blockquote {
    font-size: xx-large;
    padding-left: 10px;
    border-left: solid #737272;
}
.secNosotrosEqu__Titulo {
    text-align: center;
    font-size: x-large;
}
/*--END Cuerpo nosotros--*/
/*************************/

/*--BEGIN Cuerpo contacto--*/
/***************************/
.contactoGrid {
    background-color: #ffffff;

    display: grid;
    grid-template-areas:
    "secHagamos secContactenos";  
    grid-template-columns: 1fr 1fr ;
    justify-content: center;
    align-content: start;
    column-gap: 50px;
    margin-left: 20%;
    margin-right: 20%;
}
.contacto_titulo {
    border-top: #737272 solid 1px;
    font-weight: bold;
}
.secHagamos {
    grid-area: secHagamos;
    padding-left: 0px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}
.secContactenos {
    grid-area: secContactenos;
    padding-right: 0px;
}
.secContactenos__formulario {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.secContactenos__formulario__dato {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    gap: 30px;
}
.secContactenos__campo {
    width: 100%;
    line-height: 25px;
    padding-left: 5px;
    border-radius: 0;
    height: auto;
}
/*--END Cuerpo contacto--*/
/*************************/

/*--BEGIN Cuerpo productos--*/
/****************************/
.prdGrid {
    background-color: #ffffff;

    display: grid;
    grid-template-areas:
    ".             prdView"
    "prdCategorias prdPrds";    
    grid-template-columns: 2fr 6fr;
    justify-content: start;
    align-items:start;
    row-gap: 5px;
    column-gap: 5px;
}
.prdCategorias {
    grid-area: prdCategorias;
    position: fixed;
}
.prdCategorias__mrg{
    margin-left: 30px;
}
.prdView {
    grid-area: prdView;
    border-bottom: #737272 solid 1px;

    display: flex;
    flex-direction: row;
    gap: 20px;
}
.prdPrds {
    grid-area: prdPrds;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
    flex-wrap: wrap;
}
/*--END Cuerpo productos--*/
/**************************/

/*--BEGIN Cuerpo producto--*/
/***************************/
.prdImgsChicas {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 30px;
}
.prdImgChica {
    width: 80px;
    border: #e7e7e7 solid 1px;
}
.prdIconos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.prdCantidad {
    position: relative;
    padding:3px;
    margin: 0 5px 0 5px;
    width:55px;
    height: 40px;
    border: #737272 solid 1px;  
}
.prdPrdDetalle {
    padding-top: 80px;
    width: 75%;
}
.prdPrdsRelacionados {
    padding-top: 80px;
    width: 75%;
}
/*--END Cuerpo producto--*/
/*************************/

/*--BEGIN Animaciones, transformaciones y transiciones--*/
/********************************************************/
.scale {
    transition: transform 1s;
}

.scale:hover {
    transform: scale(1.1);
}
.translate {
    transition: 1s;
}
.translate:hover {
    /* transform: translateX(10px); */
    /* transform: translateY(-25px); */
    transform: translate(0, -10px);
}
.transiciones {
    /* transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0,.69,.9,1.34); */
    transition: all 0.5s 0s cubic-bezier(0,.69,.9,1.34);
    /* 1000 ms = 1s */

    position: relative;
}s
.transiciones:hover {
    height: 50px;
    background-color: cyan;
}
.kenburns-top {
	-webkit-animation: kenburns-top 5s ease-out both;
	        animation: kenburns-top 5s ease-out both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-2-21 21:18:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
}
@keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
}
/*--END Animaciones, transformaciones y transiciones--*/
/******************************************************/
/*--BEGIN mediaQuery--*/
/**********************/
@media screen and (max-width: 1024px) {
    .secImagenGrande {
        height: 70vh;      
    }
    .buscar__buscarImagenes {
        display: flex;
        flex-direction: column;
        justify-content: start;
        flex-wrap: wrap;
        gap: 10px;
    }
    .trjs--categorias {
        display: flex;
        flex-direction: column;
    }
    .trj {
        height: 350px;
        width: 60%;
    }
    .pieGrid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }
    .prdCategorias {
        display: none;
    }   
}
@media screen and (max-width: 768px) {
    .secImagenGrande {
        height: 50vh;    
    }
    .buscar__input, .nosotrosGrid, .contactoGrid {
        display: flex;
        flex-direction: column;
        justify-content: start;
        flex-wrap: wrap;
        gap: 20px;
    }
    .buscar__input input {
        margin-bottom: 0px;
    }
    .trj {
        height: 300px;
        width: 70%;
    }
    .secHagamos {
        padding-left: 0px
    }
    .prdView {
        font-size: small;
        border: none;
        margin-left: 20px;
    }
    .pieImagen {
        order: 1;
    }
    .pieTexto {
        order: 2
    }
    .pieProductos {
        order: 3;
    }
    .pieCuenta {
        order: 4;
    }
    .pieEmpresa {
        order: 5;
    }
    .pieTienda {
        order: 6;
    }
}
@media screen and (max-width: 320px) {
    .secImagenGrande {
        height: 30vh;      
    }
    .trj {
        height: 250px;
        width: 90%;
    }
}