.pieGrid {
    background-color: #ffffff;

    display: grid;
    grid-template-areas:
    "pieImagen pieEmpresa pieTienda pieCuenta pieProductos"
    "pieTexto  pieEmpresa pieTienda pieCuenta pieProductos";    
    grid-template-columns: 3fr 2fr 2fr 2fr 2fr;
    justify-content: center;
    align-items: stretch;

    .pieImagen {
        grid-area: pieImagen;
        justify-self: start;

        img {
            width: 30%;
            padding: 1%;
            justify-self: start;
        }
    }
    .pieTexto {
        grid-area: pieTexto;
    }
    .pieEmpresa {
        grid-area: pieEmpresa;
    }
    .pieTienda {
        grid-area: pieTienda;
    }
    .pieCuenta {
        grid-area: pieCuenta;
    }
    .pieProductos {
        grid-area: pieProductos;
    }
    .dropdown {
        position: relative;
        display: inline-block;
        width: 100%;
    }      
    .dropdown-content {
        display: block;
        position: absolute;
        background-color: #ffffff;
        width: 100%;
        z-index: 1;
    }  
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .pieLista {
        list-style-type: none;
        padding: 0px;
    
        li a {
            text-decoration: none;
            color: $colorTxtLinkHover;
        }
        li a:hover {
            color: $colorTxtLink;
        }
    }  
}