/*--@media query--*/
/**********************/
@media screen and (max-width: 1024px) {
    .pieGrid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    } 
}
@media screen and (max-width: 768px) {
    footer {
        margin-bottom: 350px;      
    }
    .pieGrid {
        .dropdown {
            .dropdown-content {
                display: none;
            }
        }
    } 
    .logo {
        display: none;
    }
    .secNosotros {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .secContacto {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        .hagamos {
            width: 100%;
        }
    }
    .secProducts .divCategorias {
        display: none;
    }
    .producto__justificacion {
        justify-content: center;
    }
    .pieImagen {
        order: 1;
    }
    .pieTexto {
        order: 2
    }
    .pieProductos {
        order: 3;
    }
    .pieCuenta {
        order: 4;
    }
    .pieEmpresa {
        order: 5;
    }
    .pieTienda {
        order: 6;
    }
    .navTabTxt {
        font-size: large;
    }
}
@media screen and (max-width: 320px) {
    footer {
        margin-bottom: 350px;      
    }
    .pieGrid {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: stretch;
    }
    .secNosotros {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .secEquipo .trjs__equipo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;  
    }
    .secUnProducto {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .navTabTxt {
        font-size: medium;
    }
}